<div class="card my-3" style="width: 20rem;">
	{% if instance.image %}
	<a href="{{ instance.get_absolute_url }}">
		<img class="card-img-top" src="{% if instance.image.url %}{{ instance.image.url }}{% else %}https://static1.squarespace.com/static/5952e36fa5790afbc22806b9/5953088bb8a79b2b34774e53/5a1db962e2c483f5ad67eed5/1511897447609/jil+sander+cashmere+11.jpg?format=1000w{% endif %}" alt="{{ instance.title }}">
	</a>
	{% endif %}
  	<div class="card-body">
    <h4 class="card-title">{{ instance.title }}</h4>
    <p class="card-text">{{ instance.description|truncatewords:14 }}</p>
    <div class='text-center'>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary my-2">View</a>
    {% include 'products/snippets/update_cart.html' with product=instance product_id=instance.id cart=cart %}
  </div>
  </div>
</div>