{% extends 'base.html' %}
{% load static %}
{% block head_title %}Home | {{ block.super }}{% endblock head_title%}
{% block content %}
<div class='row'>
	<div class="jumbotron">
  <h1 class="display-3">Hello,eCommerce!</h1>
  <p class="lead">Welcome to Python eCommerce!This is a fully functional website for physicla and digital products.If you wanna know more.Please join us</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Join us</a>
  </p>
</div>
</div>
<div class='row'>
	<div class='col-12 col-md-6'></div>
	<div class='col-12 col-md-6'></div>
</div>

{% endblock content %}
