{% extends 'base.html' %}
{% block head_title %}Library | {{ block.super }}{% endblock head_title %}
{% block content%}
<div class='row'>
  <div class='col-12'>
    <h1>Library</h1>
    <hr/>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
    <table class='table'>
      <thead><th>Product</th><th>Download</th></thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            <td><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></td>
            <td>{% for f in obj.get_downloads %}
              <a href="{{ f.get_download_url }}">{{ f.name }}</a><br/>
              {% endfor %}
            </td>            
          </tr>
        {% empty %}
        <tr><td colspan='1'><p class='lead'>No products yet.</p></td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}